html {
    font-size: 22px;
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    /* font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif; */
    
}

/* Selectors */
::selection {
    background: rgb(199,0,37);
    color: white;
}
::-moz-selection {
    background: rgb(199,0,37);
    color: white;
}

/* Banner */
div.video-container {
    position: absolute;
    width: 100%;
    top: 80px;
    left: 0;
    height: 400px;
    background-color: rgb(199,0,37);
    border-radius: 100%;
}

video.banner-video {
    width: 100%;
    left: 0;
    padding:0;
    margin:0;
    min-height: 400px;
    max-height: 400px;
    z-index: -1;
    border-radius: 100%;
    
}

/* Top Bar */
div.top_bar {
    position: absolute;
    top: 0;
    left: 0;
    background:rgba(255,255,255, 0.8);
    height: 80px;
    width: 100%;
    z-index: 10;
    display: block;
}

div.top_bar img {
    position: absolute;
    width: auto;
    left: 5px;
    height: 80px;
    z-index: 11;
}

div.hashtag {
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 10px;
    height: 80px;
    margin: 0;
    padding: 0;
    z-index: 11;
}
div.hashtag h2 {
    margin: 0;
    padding: 0;
    margin-top: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 30px;
    color: rgb(199,0,37);
}

/* Primary Navigation */
nav.primary_nav ul {
    display: none;
    position: absolute;  
    list-style:  none;
    width:600px;
    padding: 0;
    margin: 0;
    left: 200px;
    height: 80px;
    /* background-color: blue; */
}
nav.primary_nav ul li {
    position: relative;
    top: 25px;
    flex: auto;
    flex-wrap: wrap;
    height: 80px;
}
nav.primary_nav ul li a {
    padding: 20px 15px 20px 15px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: rgb(199,0,37);
    font-size: 24px;
    transition: all ease-in-out 0.2s;
}
nav.primary_nav ul li a:hover {
    text-decoration: none;
    color: white;
    background-color: rgb(199,0,37);
}

/* Contents */
div.container {
    position: relative;
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
    top: 480px;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

p {
    line-height: 1.75em;
}

/* Figure photos */
figure {
    position: relative;
    margin: 0;
    padding: 0;
    max-width: 30em;
}
figure img {
    max-width: 100%;
    height: auto
}

/* Back to Top */
div.back_to_top {
    position: relative;
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
}
div.back_to_top a {
    text-decoration: none;
    color: rgb(199,0,37);
    transition: all ease-in-out 0.2s;
}
div.back_to_top a:hover {
    color: white;
    background-color: rgb(199,0,37);
    padding-left: 10px;
    padding-right: 10px;
}


/* Footer */
div.footer {
    position: relative;
    width: 100%;
    height: 100px;
    border-top: 1px solid rgb(199,0,37);
    padding-top: 10px;
}

/* Secondary Navigation */
nav.secondary_nav {
    text-align: center;
}
nav.secondary_nav ul {
    display: flex;
    justify-content: center;
    position: absolute;  
    list-style:  none;
    width:100%;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* left: 200px; */
    /* height: 80px; */
}
nav.secondary_nav ul li {
    position: relative;
    top: 15px;
    flex: auto;
    flex-wrap: wrap;
    height: 80px;
}
nav.secondary_nav ul li a {
    padding: 20px 25px 20px 25px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: rgb(199,0,37);
    font-size: 36px;
    transition: all ease-in-out 0.2s;
    border-radius: 100%;
}
nav.secondary_nav ul li a:hover {
    text-decoration: none;
    color: white;
    background-color: rgb(199,0,37);
}

/* Images for Footer  */
div.footer_images {
    width: 100%;
    text-align: center;
    word-spacing: 80px;
}
img.photos {
    position: relative;
    width: auto;
    height: 80px;
}
img.toyota_logo {
    position: relative;
    width: 230px;
    height: auto;
}



/* Media Queries */
@media (min-width: 563px) {
    div.hashtag h2 {
        margin-top: 5px;
        font-size: 60px;
    }
}
@media (min-width: 800px) {
    div.video-container {
        border-radius: 0%;
    }
    video.banner-video {
        border-radius: 0%;
    }
}
@media (min-width: 1173px) {
    nav.primary_nav ul {
        display: flex;
    }
    div.hashtag h2 i {
        display: none;
    }
}